h1 {
    text-align: center;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.button {
    width: 10%;
    background-color: rgb(110, 171, 241);
    padding: 10px;
    margin: 8px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: blue;
}